.cards-container {
  margin: 0 0 5% 0;
  padding: 0 5%;
  align-items: center;
  gap: 30px;
}

.cards-container h1 {
  font-size: max(25px, 2.5vw);
  text-align: center;
}

.card-items {
  width: 100%;
  gap: max(30px, 2.5vw);
  align-items: stretch;
}

.card-item {
  border: 1px solid #ddd;
  padding: 30px 20px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
  justify-content: flex-start !important;
  align-items: center;
  text-align: center;
  width: 20%;
  gap: 15px;
  transition: 0.2s;
}

.card-item:hover {
  border: 1px solid transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#card-icon {
  font-size: max(30px, 3.5vw);
  color: var(--main-color);
}

#name {
  font-size: max(16px, 1vw);
  font-family: "nunito-bold";
}

.role {
  width: 100%;
  gap: 20px;
}

.role p {
  font-size: max(14px, 0.9vw);
  font-family: "nunito-med";
}

.tx {
  flex: 1;
}

.card-link {
  text-decoration: none;
  color: var(--main-color);
  font-size: max(14px, 0.9vw);
}

@media (max-width: 980px) {
  .card-item {
    width: 30%;
  }
}

@media (max-width: 790px) {
  .card-items {
    flex-wrap: wrap;
  }

  .card-item {
    width: 38%;
  }
}

@media (max-width: 540px) {
  .cards-container {
    margin-top: 15%;
  }
  .card-item {
    width: 75%;
  }
}

@media (max-width: 450px) {
  .card-item {
    width: 100%;
  }
}
