body{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "nunito";
  src: url('./fonts/Nunito-Regular.woff');
}

@font-face {
  font-family: "nunito-med";
  src: url('./fonts/Nunito-Medium.woff');
}

@font-face {
  font-family: "nunito-bold";
  src: url('./fonts/Nunito-Bold.woff');
}

h1,h2,h3,h4,h5,h6{
  font-family: "nunito-bold";
}

p,a,button{
  font-family: "nunito";
}


.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-b{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tx{
  line-height: 1.7;
  font-size: max(14px, 0.8vw);
}


:root {
  --main-color: rgb(0, 89, 255);
}

